*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
}

body{
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #003cff, #00FF6C);
}

h1 {
    font-weight: bold;
    font-size: 40px;
    font-family: "arvo", cursive;
    text-align: center;
    text-shadow: 3px 0 #da0463, 0 3px 5px rgb(255, 238, 4);
    background-color: rgba(0, 0, 0, 0.603);
    margin-top: 0;
    padding: 10px 0;
    width: 100vw;
    position: fixed;
    color: rgba(10, 255, 112, 0.959);
}

footer{
    color: #DBEDF3;
    font-family: sans-serif;
    text-align: center;
}

strong {
    font-weight: bolder;
    color: white;
}
.calculator-grid{
    display: grid;
    justify-content: center;
    align-content: center;    
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255,255, 255, .75); 
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

.calculator-grid > button:hover{
    background-color: rgba(255,255, 255, .9);
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: rgba(0,0,0, .75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    color: rgba(255,255, 255, .75);
    font-size: 1.5rem;
}

.output .current-operand {
    color: white;
    font-size: 2.5rem;
}